<h2>Retrouver ici tous nos services.</h2>

<nb-layout>
  <nb-layout-column>
    <nb-flip-card class="flipCard">
      <nb-card-front>
        <nb-card status="info">
          <nb-card-header>Création</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="warning">
          <nb-card-header>Détails création</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>

    <nb-flip-card class="flipCard">
      <nb-card-front>
        <nb-card status="primary">
          <nb-card-header>Intégration</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="warning">
          <nb-card-header>Détails intégration</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>

    <nb-flip-card class="flipCard">
      <nb-card-front>
        <nb-card status="danger">
          <nb-card-header>Dépannage</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="warning">
          <nb-card-header>Détails dépannage</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </nb-layout-column>

  <nb-layout-column>
    <nb-flip-card class="flipCard">
      <nb-card-front>
        <nb-card status="danger">
          <nb-card-header>Dépannage</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="warning">
          <nb-card-header>Détails dépannage</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>

    <nb-flip-card class="flipCard">
      <nb-card-front>
        <nb-card status="info">
          <nb-card-header>Création</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="warning">
          <nb-card-header>Détails création</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>

    <nb-flip-card class="flipCard">
      <nb-card-front>
        <nb-card status="primary">
          <nb-card-header>Intégration</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="warning">
          <nb-card-header>Détails intégration</nb-card-header>
          <nb-card-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and
            other ionized gases. Originally, nebula was a name for any diffuse
            astronomical object, including galaxies beyond the Milky Way.
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </nb-layout-column>
</nb-layout>
