<h2>Nous contacter. </h2>
<nb-card>
    <nb-card-body class="form">
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="Nom">
      &nbsp;
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="Prénom">
      &nbsp;
      <input type="email" nbInput fullWidth fieldSize="small" placeholder="Email">
      &nbsp;
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="Objet">
      &nbsp;
      <input type="text" fieldSize="giant" nbInput placeholder="Message">
      &nbsp;
      <input type="Submit" nbInput  status="control" placeholder="Message">
    </nb-card-body>
  </nb-card>